<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sensorhub.dji"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- DJI SDK -->
    <application>
        <uses-library android:name="com.android.future.usb.accessory" />
        <meta-data
                android:name="com.dji.sdk.API_KEY"
                android:value="a4de78cd3ea92491c8bc79c5" />
        <activity
                android:name="dji.sdk.sdkmanager.DJIAoaControllerActivity"
                android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data
                    android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                    android:resource="@xml/accessory_filter" />
        </activity>
        <service android:name="dji.sdk.sdkmanager.DJIGlobalService" >
        </service>
    </application>
    <!-- DJI SDK -->

</manifest>
